

:root {
    --font-color: #2E282A;
    --background-color: #F7ECE1;
    --primary-color: #347FC4;
    --secondary-color: #00A896;
    --accent-color: #02C39A;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 61.5%;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--background-color);
    font-size: 1.8rem;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    grid-template-areas: 
    "sb head"
    "sb mc";
}

.header{
    grid-area: head;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.sidebar {
    grid-area: sb;
    background: var(--primary-color);

}

.main-content {
    grid-area: mc;
}